<h1 style="color: red;">Super Duper Devise Lecture</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
  <h2>O usuário de email <%= current_user.email %> está logado</h2>
<% else %>
  <h2>Não temos ninguém logado</h2>
<% end %>
